<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js hexagon grid</title>
    <link rel="stylesheet" href="style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    
</head>
<body>
    <div class="app" :style="{width:`${containerW}px`, height:`${containerH}px`}" id="app">
        <div v-for="item in items" :key="item.key" class="item" :style="{ background:item.background, top:`${item.top}px`, left:`${item.left}px`, height:`${item.s}px`, width:`${item.s}px` }">
          <img class="img" v-if="item.img" :src="item.img" alt="" :style="{ height:`${item.s*0.9}px`, width:`${item.s*0.9}px` }" />
        </div>
        <svg>
          <defs>
            <clipPath id="hexagon" clipPathUnits="objectBoundingBox">
              <polygon points="0.50,1.00 0.93,0.75 0.93,0.25 0.50,0.00 0.07,0.25 0.07,0.75" />
            </clipPath>
          </defs>
        </svg>
      </div>
    <script src="main.js"></script>
</body>
</html>